*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#root{
  width: 100%;
  max-width: 500px;
}

.app {
padding: 5px;
}

.settings input {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.autocomplete {
  position: relative;
}

.autocomplete__input{
  display: block;
  width: 100%;
}

.autocomplete__panel{
  background-color: lightgrey;
  z-index: 10;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 150px;
  overflow-y: scroll;
}



.autocomplete__item {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: blue;
}

.blacklist{
  width: 100%;
}
.blacklist__item {
  display: block;
}

.collapsible{
  margin-bottom: 10px;
}

.submit{
  width: 100%;
}

.result{
  margin-top: 10px;
}

.result__img{
  display: block;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  /* object-position: center; */
}

.result__text{
text-align: center;
}